%header.main-header{cover}
  .main-header-content
    .logo
      %a.appcanary-logo{href: home_path}
        = image_tag blog_settings.logo, alt: blog_settings.name
    .description
      %h2.page-description= blog_settings.description
      .more-icons
        %a{href: "https://twitter.com/appcanary", alt: "Twitter", title: "Twitter"}
          %i.fa.fa-twitter-square
        %a{href: "https://github.com/appcanary", alt: "Github", title: "Github"}
          %i.fa.fa-github-square
        %a{href: "/archive.html", alt: "Archive", title: "Archive"}
          %i.fa.fa-archive
        %a{href: feed_path, alt: "Feed", title: "Feed"}
          %i.fa.fa-rss-square
