<% if paginate %>
  <section>
    <div class="pagination">
      <div class="paginators">
        <% if prev_page %>
          <%= link_to '← Newer Posts', prev_page, class: 'newer-posts'%>
        <% end %>

        <% if prev_page || next_page %>
          <span class="page-number">Page <%= page_number %> of <%= num_pages %></span>
        <% end %>

        <% if next_page %>
          <%= link_to 'Older Posts →', next_page, class: "older-posts" %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
