---
pageable: true
per_page: 12
---

<section>
  <div class="archive">
    <div class="title">
      <h1>Archive</h1>
      <hr>
    </div>
  </div>
</section>

<%= partial "shared/page_articles" %>
<%= partial "shared/pagination" %>
